* {
  box-sizing: border-box;
}

.os-scrollbar {
  --os-handle-bg: #fff;
  --os-size: 4px;
  --os-padding-perpendicular: 0px;
  --os-handle-bg-hover: #fff;
  --os-track-bg-hover: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  /* grid-template-rows: 1; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  /* background-color: #272838; */
  height: 100vh;
}

#app .main {
  max-width: 600px;
  max-height: 100vh;
  padding: 0px 1rem 1rem;
}
#app .main.logToggled {
  margin-right: 250px;
  border-right: 1px solid #fff;
}

#app .skills-actions-features {
  display: grid;
  grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
      "a b"
      "a c"
      "a d"
      "a .";
  gap: 1rem;
}

#app .skills-actions-features > div {
  background-color: #191922;
}